:root {
    --black-color: rgb(34, 34, 34);
}

/* UNIVERSAL SELECTOR */


* {
    /* RGB: 0 - 255. 0-100%  */
    /* Hexadecimal */
    color: rgb(0, 0, 0)
}


/*TYPE SELECTOR */
q {
    color: rgb(60, 83, 7);
}

ul {
    color: rgb(0, 51, 34)
}




img {
    float: left;
    margin-right: 1em;
}

br {
    clear: left;
}

#section_1 {

    float: left;
    width: 450px;
}


#section_2 {
    float: left;
    width: 450px;

}

#blabla {
    float: right;
    width: 450px;
}

footer {
    clear: both;
}

p {
    line-height: 1em;
    font-size: 99%;
}

/* ID SELECTOR */


/* CLASS SELECTOR */

ul {
    font-weight: bold;
}

/* RELATIONAL SELECTOR */
section#section_2>ol>li {
    color: var(--black-color--)
}

main em {
    color: rgb(11, 37, 29);
}


section#section_2 a:visited {
    font-size: 200%;
    color: blueviolet;
}

section#section_2 a:hover {
    font-size: 200%;
    color: darkcyan;
    font-family: serif;
}

h1,
h2,
h3 {
    color: var(--black-color--)
}












.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    font-size: large;
}

#red {
    background: linear-gradient(to right, #9b4444, #ec38a757);
    color: white;
    border: 2px solid black;
}

#green {
    background-color: #a7ffa7;
    color: white;
}

#blue {
    background-color: #a1a1ff;
    color: white;
}

article {
    margin: 0;
    padding: 0;
    border: 2px dashed rgb(73, 47, 13);
}
